<!DOCTYPE html>
<html>
<head>
	<title>Nasxtye</title>

	<link rel="stylesheet" type="text/css" href="art.css">

	<script src="https://kit.fontawesome.com/d9d2fb3f66.js" crossorigin="anonymous"></script>
	<script src="js/vue.min.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<meta name="description" content="A hobbyist illustrator. Loves character illustrations, game arts and comic.">
	<meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Nasxtye">
    <meta property="og:url" content="https://azreenbd.com/art">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Nasxtye">
    <meta property="og:description" content="A hobbyist illustrator. Loves character illustrations, game arts and comic.">
    <meta name="twitter:title" content="Nasxtye">
    <meta name="twitter:url" content="website">
    <meta name="twitter:description" content="A hobbyist illustrator. Loves character illustrations, game arts and comic.">
</head>
<body>
	<div id="app">
		<div class="social-links">
			<a title="Instagram" href="https://www.instagram.com/nasxtye/"><i class="fab fa-instagram"></i></a>
			<a title="Twitter" href="https://twitter.com/nasxtye"><i class="fab fa-twitter"></i></a>
			<a title="Facebook" href="https://www.facebook.com/nasxtye"><i class="fab fa-facebook-square"></i></a>
			<a title="Youtube" href="https://www.youtube.com/user/NasxGeek"><i class="fab fa-youtube"></i></a>
		</div>

		<div id="banner">
			<img src="img/nasxtye_wordmark.png" alt="Nasxtye logo">
		</div>
		<div id="gallery">
			<div v-for="(artwork, index) in artworks" class="thumbnail-art">
                <img :src="artwork.image" :title="artwork.title" :alt="artwork.title">
            
                <div class="overlay" @click="showModal(true, index)">
                    <div class="text">
                        <div class="title">{{ artwork.title }}</div>
                    </div>
                </div>
            </div>
		</div>

		<transition name="fade">
			<div id="modal-container" v-if="modalIsVisible" @click="showModal(false)" >
					<img :src="artworks[modalArtworkId].image">

					<div class="info">
						<p style="color: grey;">{{ formatDate(artworks[modalArtworkId].date) }}</p>
						<h1>{{ artworks[modalArtworkId].title }}</h1>
						<p>{{ artworks[modalArtworkId].description }}</p>
					</div>

					<div class="close-button">x</div>
			</div>
		</transition>

	</div>

	<script src="js/artwork.js"></script>
</body>
</html>