@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
	margin: 0;
	font-family: 'Roboto Mono', monospace;
	color: #fff;
	background-color: #000;
}

/* scrollbar in body*/
body ::-webkit-scrollbar {
	width: 4px;
}

body ::-webkit-scrollbar-track {
	background: #cfdee4; 
}

body ::-webkit-scrollbar-thumb {
	background: #8b94a2;
}

body ::-webkit-scrollbar-thumb:hover {
	background: #aab1bd; 
}

.container {
	width: 80%;
	max-width: 1920px;
	margin: auto;
}

.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	border: 0;
	color: #fff;
	padding: 1em 3em;
	background: #ff0000;
}
button:hover {
	cursor: pointer;
}

a {
	color: #3d3d3d;
}

a:hover {
	color: #ff0000;
	transition: color .5s;
}

header {
	padding: 4rem 0 0 0;
}

#title {
	padding: 4em 0;
}

#title .name {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-size: 3rem;
	font-weight: 800;
	text-align: center;
}

#title .surname {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #707070;
	text-shadow: none;
	text-align: center;
}

#title .quote {
	font-family: 'Open Sans', sans-serif;
	color: #a8a8a8;
	text-align: center;
}

#title button {
	margin: 0 .25em;
}

.social-row {
	font-size: 22px;
}

.social-icon {
	margin: 0 .25em;
}

#works {
	background-color: black;
	padding: 3em 0 2em 0;
}

.heading {
	margin: 0;
}

.thumbnail-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.thumbnail {
	align-self: stretch;
}

#works .thumbnail {
	background-color: #242424;
	
	width: calc(25% - 1em);
	margin: 1em 1em 1em 0;

	transition: 0.25s;
}

#works .thumbnail:hover {
	box-shadow: .5em .5em 0 0 #ff0000;
	margin: .25em 1em 1em 0;
}

.thumbnail img {
	width: 100%;
	opacity: .5;
	filter: grayscale(.5);
	transition: .75s;
}
.thumbnail:hover img {
	opacity: 1;
	filter: grayscale(0);
}

.thumbnail .info {
	padding: 0 1em 1em 1em;
}

.thumbnail .info h1 {
	font-size: 20px;
	text-align: center;
}

.thumbnail .info p {
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	color: #a8a8a8;
	text-align: justify;
	height: 8em;
	overflow: auto;
	margin: .25em;
}

.thumbnail .info button, #title button {
	font-weight: 600;
	transition: opacity .25s;
	margin: .5em;
	transition: 0.25s;
}

.thumbnail .info button:hover,  #title button:hover {
	box-shadow: .5em .5em 0 0 black;
	margin: .25em .75em .75em .25em;
}

#title button:hover {
	box-shadow: .5em .5em 0 0 #242424 !important;
}


.thumbnail .info .info-icon-row {
	color: #707070;
	font-size: 1.2rem;
	margin: .25em;
}

.thumbnail .info .info-icon-row .fab {
	cursor: pointer;
	transition: .25s;
}
.thumbnail .info .info-icon-row .fab:hover {
	color: #a8a8a8;
}

.copyright {
	color: #707070;
}

footer {
	padding: 5em 0 1em 0;
	text-align: center;
}

@media only screen and (max-width: 1375px) {

	#works .thumbnail {
		width: calc(50% - 1em);
	}

}

@media only screen and (max-width: 768px) {
	.container {
		width: 90%;
	}

	#works .thumbnail {
		width: calc(100% - 1em);
	}

	#title #avatar {
		background: transparent;
	}

}