<!DOCTYPE html>
<html>
<head>
	<title>Naszrul Azreen Badarudin</title>

	<!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="resume.css"> -->

	<script src="https://kit.fontawesome.com/d9d2fb3f66.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="A Full Stack Developer with over 4 years of experience in web development. Graduated with Bachelor of Computer Science from Multimedia University.">
</head>
<div id="app">
	<div class="container center-flex" style="padding:1em 0">
		<div>
			<section class="flex-between">
				<div>
					<h1>{{name}}</h1>
					<div>{{title}}</div>
				</div>
				<div align="right">
					<div>azreen.bd@gmail.com</div>
					<div>+60 12-927 0590</div>
				</div>
			</section>
			<section>
				<h2>Work Experiences</h2>
				<div v-for="job of jobs" style="margin-bottom: 1em">
					<h3>{{job.company}}</h3>
					<div v-for="position of job.positions">
						<div class="flex-between">
							<h4>{{position.title}}</h4>
							<small>{{position.duration}}</small>
						</div>
						<ul v-for="achievement of position.achievements">
							<li>{{achievement}}</li>
						</ul>
					</div>
				</div>
			</section>

			<section>
				<h2>Education</h2>
				<div v-for="education of educations">
					<div class="flex-between">
						<div>
							<h3>{{education.qualification}}</h3>
							<h4>{{education.school}}</h4>
						</div>
						<small>{{education.duration}}</small>
					</div>
				</div>
			</section>

			<section>
				<h2>Leaderships</h2>
				<div v-for="leadership of leaderships">
					<div>{{leadership.position}}, {{leadership.organisation}} ({{leadership.duration}})</div>
				</div>
			</section>
		</div>
	</div>
</div>
<script>
  const { createApp, ref } = Vue

  createApp({
    setup() {
      return {
		name: "Naszrul Azreen Badarudin",
		title: "Full Stack Web Developer",
        jobs: [
			{
				company: "ThunderQuote",
				positions: [
					{
						title: "Full Stack Developer",
						duration: "Aug 2022 - Present",
						achievements: [
							"Hello",
							"World"
						]
					},
					{
						title: "Web Application Developer",
						duration: "Feb 2021 - Aug 2022",
						achievements: [
							"Develop static web app using Wordpress and Elementor.",
							"Develop various web application with Vue.js and Express.js.",
							"Worked with AWS, Azure AD, Microsoft PowerApps and Microsoft Graph API."
						]
					},
				]
			},
			{
				company: "Doctor2U",
				positions: [
					{
						title: "IT Intern",
						duration: "Apr 2019 - Jun 2019",
						achievements: [
							"Created a program with .NET Framework to extract data from a spreadsheet and automatically store it to Google Cloud.",
							"Contributed to the front-end for an internal dental report application using Bootstrap and Angular.",
							"Participated in various events to introduce Doctor2U app to potential users."
						]
					},
				]
			},
			{
				company: "Rollers Creative Solution",
				positions: [
					{
						title: "Freelance Web Developer",
						duration: "Aug 2018 - Jan 2019",
						achievements: [
							"Developed an artist showcase website with Laravel. Which allows user to upload their artworks and interact with other users.",
							"Designed the front-end of the website from scratch with CSS.",
							"Deployed and maintain the website with cPanel and MySQL."
						]
					},
				]
			},
		],
		educations: [
			{
				school: "Multimedia University",
				qualification: "Bachelor of Computer Science (Hons.), Game Development",
				duration: "2016 - 2020"
			}
		],
		leaderships: [
			{
				organisation: "MMU ComiNation Club",
				position: "Head of Multimedia",
				duration: "2016 - 2018"
			},
			{
				organisation: "MMU Japanese Cultural Society",
				position: "Committee Member",
				duration: "2015 - 2016"
			}
		]
      }
    }
  }).mount('#app')
</script>
</html>