@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,800&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;

	background-image: url("img/organic-bg.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 80em auto;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #cfdee4; 
}

::-webkit-scrollbar-thumb {
	background: #8b94a2;
}

::-webkit-scrollbar-thumb:hover {
	background: #aab1bd; 
}

.container {
	width: 80%;
	max-width: 1920px;
	margin: auto;
}

#main-grid {
	display: grid;
	//grid-gap: 4em;
}

button {
	border: 0;
	color: #fff;
	border-radius: 2.5em;
	padding: 1em 3em;
	background: linear-gradient(90deg, #3f92f1, #6dd5fa);
}
button:hover {
	cursor: pointer;
}

#title button {
	color: #fff;
	padding: 1.25em 3em;
	text-transform: uppercase;
	font-weight: 700;
	//background: linear-gradient(90deg, #3f92f1, #6dd5fa);
	transition: padding .25s;
}

#title button:hover {
	padding: 1.25em 3.5em;
}

a {
	color: #adadad;
}

a:hover {
	color: grey;
	transition: color .5s;
}

header {
	padding: .5em 0;
}

header .logo {
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
  	background-size: 100% 100%;
	height: 5em;
	width: 5em;
}

#title {
	display: grid;
	margin-top: 4em;
	//grid-row-gap: 5em;
}

#title #detail {
	grid-column: 1;
	grid-row: 1;
}

#title #action {
	grid-column: 1;
	grid-row: 2;
}

#title #avatar {
	grid-column: 2;
	grid-row: 1 / span 2;

	background-image: url("img/avatar.png");
	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: bottom;
  	height: 25em;
}

#title .name {
	margin: 0;
	font-size: 60px;
	font-weight: 800;
}

#title .surname {
	font-size: 28px;
	color: #8c94a3;
	text-transform: uppercase;
}

#title .quote {
	color: #8c94a3;
	font-weight: 600;
}

#title button {
	margin: 0 .25em;
}

.social-row {
	font-size: 22px;
}

.social-icon {
	margin: 0 .25em;
}

#works {
	background-color: #daebf2;
	padding: 3em 0 2em 0;
}

.heading {
	margin: 0;
}

.thumbnail-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.thumbnail {
	align-self: stretch;
}

#works .thumbnail {
	background-color: #fff;
	
	border-radius: .5em;
	width: calc(33.3% - 2em);
	margin: 1em 1em 1em 0;
}

.thumbnail img {
	width: 100%;
	border-radius: .5em .5em 0em 0em;
}

.thumbnail .info {
	padding: 0 2em 2em 2em;
	//display: flex;
	//flex-direction: column;
}

.thumbnail .info h1 {
	font-size: 20px;
	text-align: center;
}

.thumbnail .info p {
	font-weight: 600;
	font-size: 12px;
	color: grey;
	padding: 1em;
	text-align: justify;
	height: 6em;
	overflow: auto;
}

.thumbnail .info button {
	width: 100%;
	font-weight: 700;
	transition: opacity .25s;
}

.thumbnail .info button:hover {
	opacity: .8;
}

.thumbnail .info .info-icon-row {
	font-size: 18px;
	color: grey;
	text-align: center;
}

.copyright {
	font-weight: 600;
	color: lightgrey;
}

footer {
	padding: 5em 0 1em 0;
	text-align: center;
}