@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

body {
	margin: 0;
	height: 100vh;
	font-family: 'Raleway', sans-serif;
	color: #2a3950;
	overflow: hidden;
	background-color: #fff;
}

@keyframes fade {
	from { opacity: 0; }
    to { opacity: 1; }
}

.container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	animation: fade 1s;
}

.center {
	text-align: center;
}

/***SPLASH SCREEN***/
.logo {
	height: 15rem;

	animation: fade 2s;
	animation-timing-function: ease-in;
}

.name {
	font-size: 5rem;
}

.name .first {
	font-weight: 800;
}

.name .last {
	color: #f69479;
}

#contact {
	font-size: 5rem;

	animation: fade 2s;
	animation-timing-function: ease-in;
}

#contact a {
	color: #41436a;
	-webkit-transition: color .5s;
  	transition: color .5s;
}

#contact a:hover {
	color: #f69479;
	
}

/***NAVIGATION***/
@keyframes sidebar {
    100% { right: 0px; }
}

#sideNav {
	background-image: linear-gradient(-45deg, #41436a 0%, #f69479 100%);
	height: 100%;
	position: fixed;
	z-index: 2;
	font-size: 30px;
	right: -100%;
	padding-top: 50px;
	padding: 80px 100px 0 20px;
	display: none;
	animation: sidebar 0.4s forwards;
	box-shadow: inset 2px 0 5px #0000001e;
}

#sideNav ul {
	list-style-type: none;
    margin: 0;
    padding: 0 30px 0 25px;
}

#sideNav li {
	margin: .25em 0;
}

#sideNav li a {
	text-decoration: none;
	color: #fff;
	text-shadow: 0 2px 2px #0000001e;
	transition: border-bottom .1s;
}

#sideNav li a:hover {
	text-decoration: none;
	border-bottom: .05em solid white;
	box-shadow: 0 2px 2px #0000001e;
}

/*hamburger menu button start*/
.menuBtn {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
	z-index: 3;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: #b8b5c7;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: translate(0px, 9px) rotate(-45deg);
    transform: translate(0px, 9px) rotate(-45deg);
	background-color: #fff;
	box-shadow: 0 2px 2px #0000001e;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: translate(0px, -7px) rotate(45deg);
    transform: translate(0px, -7px) rotate(45deg);
	background-color: #fff;
	box-shadow: 0 2px 2px #0000001e;
}
/*hamburger menu button end*/